<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.algebra.lol_projekt">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoL_Projekt">
        <activity android:name=".ItemPagerActivity"
            android:theme="@style/HostScreenTheme"
            android:label="@string/liga_legendi"/>

        <provider
            android:name=".LoLProvider"
            android:authorities="hr.algebra.lol_projekt.api.provider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MediaActivity"
            android:theme="@style/HostScreenTheme"
            android:label="@string/liga_legendi"/>

        <receiver
            android:name=".LoLReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".HostActivity"
            android:label="@string/liga_legendi"
            android:theme="@style/HostScreenTheme"
            android:hardwareAccelerated="true"/>

        <service
            android:name=".LoLService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:label="@string/liga_legendi"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>